
  
/* Control the left side */
.menu-side 
{
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  left: 0;
  background-color: rgba(3, 3, 3, 0.26);
}

/* Control the right side */
.info-side 
{
  height: 100%;
  width: 75%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  right: 0;
  background-color:rgba(0, 0, 0, 0.144);;
  border-style: ridge;
}


/* If you want the content centered horizontally and vertically */
.centered 
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#InputBtnId
{
  border: 1px solid rgb(78, 73, 121);;
  color: rgb(78, 73, 121);
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: rgb(18 27 127 / 36%);
  border-color: rgba(248, 199, 139, 0.479);
  align-content: center;
  margin: 0em;
}

#inputID
{
  background-color:rgba(0, 0, 0, 0);
  border-width: 1px;
  width: 760px;
  height: 20px;
  background: transparent;
  border: none;
  border-color: transparent;
  outline: none;
  color: rgba(67, 26, 100, 0.685);
  font-size: 20px;
}
::placeholder 
{ 
  color: rgba(67, 26, 100, 0.685);
}

#AnswerDiv
{
  background-color:  hsla(0, 0%, 0%, 0);
  width: 760px;
  height: 200px;
  font-size: small;
  color: rgba(67, 26, 100, 0.685);
  left:25%;
}
.menu-btn
{
  width: 100%;
  border: 1px solid rgb(219, 216, 241);
  color: rgb(219, 216, 241);
  padding: 42px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(18 27 127 / 36%);
  height: 25%;
  border-color: rgba(248, 199, 139, 0.479);;
  }

.taskListTable
 {
  font-size: 15px;
  padding: 0;
  margin: auto;
  border-collapse: collapse;
  width: 80%;
  text-align: center;
  color: rgba(41, 21, 73, 0.39);
}
.taskListTableHeaderRow 
{
  color: rgba(30, 14, 117, 0.438);
  font-weight: bold;
  height: 50px;
  top: 10%;
  left: 00%;
  width:100%;
  height:20%;
  margin-top: -9em; 
  margin-left: 25%;
}
.taskListTableBodyRow:nth-child(odd){background-color: rgba(128, 128, 128, 0.050);}
  
.taskListTableBodyRow:hover
{
  
  background-color: rgba(255, 140, 0, 0.253);
}
.taskListTable tr td 
{
  height: 25px;
}
#userMSG
{
  color: rgb(78, 73, 121);
}
#hello_msg
{
  color: rgb(78, 73, 121);
}
.taskListTable button
{
  background-color: rgba(41, 21, 73, 0.39);
  border: none;
  color: white;
}

.info-side .right-div-info
{
  height: 100%;
  width: 37.5%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  right: 0;
  background-color: rgba(30, 34, 100, 0.178);
  border-style: ridge;
  border:  none;
}
.info-side .left-div-info
{
  height: 100%;
  width: 37.5%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  left: 25%;
  background-color: rgba(30, 34, 100, 0.178);
  border: none;
}
#main-dir-div
{
  left: 45%;
  width: 55%;
  top: 90;
  color: rgba(71, 30, 110, 0.739);

}
#version
{
  overflow-y: hidden;
  font-size: 20px;
  resize:initial;
  position: relative;
  border: 0.5px solid rgba(44, 39, 78, 0.274);
  color: rgb(219, 216, 241);
  padding: 80px ;
  background-color:  rgba(141, 88, 59, 0.116);
  top:0;
  height: 33.3%;
}

#architecture
{
  font-size: 20px;
  background-color: rgba(175, 123, 67, 0.15);
  position: relative;
  border: 0.5px solid rgba(44, 39, 78, 0.274);
  color: rgb(219, 216, 241);
  padding: 80px ;
  height: 33.3%;
  overflow-y: hidden;
}
#cors_num
{
  font-size: 20px;
  resize:initial;
  overflow-y: hidden;
  background-color: rgba(31, 35, 93, 0.308);
  position: relative;
  border: 0.5px solid rgba(44, 39, 78, 0.274);
  color: rgb(219, 216, 241);
  padding: 80px ;
  height: 33.3%;

}
#username
{
  font-size: 20px;
  resize:initial;
  overflow-y: hidden;
  position: relative;
  border: 0.5px solid rgba(44, 39, 78, 0.274);
  color: rgb(219, 216, 241);
  padding: 80px ;
  background-color:rgba(31, 35, 93, 0.287);
  top:0;
  height: 33.3%;

}

#win_edition
{
  font-size: 20px;
  resize:initial;
  overflow-y: hidden;
  background-color:  rgba(141, 88, 59, 0.151);
  position: relative;
  border: 0.5px solid rgba(44, 39, 78, 0.274);
  color: rgb(219, 216, 241);
  padding: 80px ;
  height: 33.3%;

}
#cpu
{
  font-size: 20px;
  resize:inherit;
  background-color: rgba(175, 123, 67, 0.137);
  position: relative;
  border: 0.5px solid rgba(44, 39, 78, 0.274);
  color: rgb(219, 216, 241);
  padding: 80px ;
  height: 33.3%;
  overflow-y: hidden;
}
.folder-btn
{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.del-file-btn 
{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  width: 100%;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  color: rgba(72, 39, 102, 0.685);
  cursor: pointer;
  height: 25%;
}
#rem-file-exp
{
  display: table-cell;
  vertical-align: middle;
}
#main-dir-div
{
  font-size: 16px;
}
.dir-btn
{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  width: 100%;
  
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  color: rgba(72, 39, 102, 0.685);
  cursor: pointer;
  height: 25%;
}
.file-btn
{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: rgba(72, 39, 102, 0.685);

}
#back-btn
{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;

}
#msg-div
{
  font-size: 25px;
  color: rgb(45, 12, 77);

}
.agent-btn
{
  background-color: transparent;
  background-repeat: no-repeat;
  border-color: rgb(68, 15, 117);
  padding: 20px ;
  

}
.loader {
  border: 8px solid #2a08699f; /* Light grey */
  border-top: 8px solid #ad99e69d; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}